{% load static %}

<html lang="en">
    <head>


      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="{% static 'accounts/style.css'%}" type = "text/css">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      {% block head %}
      <title>Base Board at Home</title>
      {% endblock %}
  </head>
  <body>
    <main>
      {% block content %}
        {% endblock %}
    </main>

    <!-- Jumbotron at the head of the page -->
    <div class="jumbotron text-center" style="margin-bottom:0">
      <h1>Board at Home</h1>
      <p>Find the games you're looking for</p>
    </div>



    <!-- Navigation Bar for getting around the site -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="/accounts/">Board at Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/accounts/search/">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/games">All Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts/about/" >About</a>
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
                <a class="nav-link" href="/accounts/game_based_recommandations/" >Recommendations</a>
            {% endif %}
          </li>
          <li class="nav-link">
            {% if user.is_authenticated %}
          </li>
              <a class= "nav-link" href= "{% url 'logout' %}">Logout</a>
            {% else %}
            <!--  <p>You are not logged in</p> -->
              <a class = "nav-link" href="{% url 'login' %}">Login</a>
            {% endif %}
          </li>

          <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'view_profile' %}">Your Profile</a>
            {% endif %}
          </li>
        </ul>
        <ul class= "nav navbar-nav navbar-right">
          <li class="nav-link navbar-right">
            {% if user.is_authenticated %}
              Hi {{ user.username }}!

            {% endif %}
          </li>
        </ul>
      </div>
    </nav>

      {% block body %}
      <h1> BASE </h1>
      {% endblock %}
      <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>Board at Home</h1>
        </div>
</body>
