<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


    {% load staticfiles %}
    <link rel="stylesheet" href = "{% static 'accounts/style.css' %}" type="text/css">



  </head>
  <body>
    <div class= "container">
      <h1>Board at Home</h1>
      You Can Log in here
      <button class="btn btn-primary" type = "button" name ="bvajek">Log In </button>
    </div>
  </body>
</html>
