{% extends 'base.html' %}

{% block head %}
      <title>Board At Home -  Your Profile</title>
{% endblock %}


{% block body %}


<div class="container" style="margin-top:8px">
  <div class="row">
    <div class="col-sm-4">
      <h2>Welcome to your profile page</h2>
        <p>Username: {{ user}}</p>
        <p>First Name: {{ user.first_name}}</p>
        <p>Last Name: {{ user.last_name}}</p>
        <p>Email: {{ user.email}}</p>
        </div>
   <div class ="col-sm-8">

      <h2>Add to your Wishlist or owned games</h2>

      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="#">Wishlist</a>
            {% if wishlist_games %}
                <u1 style="margin-bottom:8">
                    {% for game, score in wishlist_games %}
                        <li>
                            <button onclick="window.location.href = 'remove_wishlist/{{ game.Game_ID }}';"> X </button>
                            <a href="/games/{{ game.Game_ID }}/"> {{ game.Name }} </a>
                            {% if score != None %}
                                <a>         Score : {{ score }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </u1>
            {% else %}
                <h3>No games in wishlist</h3>
            {% endif %}
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Owned Games</a>
            {% if ownedlist_games %}
                <u1 style="margin-bottom:8">
                    {% for game, score in ownedlist_games %}
                        <li>
                            <button onclick="window.location.href = 'remove_ownedlist/{{ game.Game_ID }}';"> X </button>
                            <a href="/games/{{ game.Game_ID }}/"> {{ game.Name }} </a>
                            {% if score != None %}
                                <a> Score : {{ score }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </u1>
            {% else %}
                <h3>You don't own any games</h3>
            {% endif %}
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Similar users also liked</a>
                <u1 style="margin-bottom:8">
                    {% for game in user_based_recommendations %}
                        <li>
                            <a href="/games/{{ game.Game_ID }}/"> {{ game.Name }} </a>
                        </li>
                    {% endfor %}
                </u1>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'findnearby' %}">Find Nearby Players</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'edit_profile' %}">Edit Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Delete Account</a>
        </li>

      </ul>
      <hr class="d-sm-none">

  </div>
</div>

{% endblock %}
