{% extends 'base.html' %}
{% load static %}

{% block body %}



<div class="container">
<h1> Search Game Information</h1>
<form method="post" action="/accounts/search/">
		{% csrf_token %}
		<div class="form-group">
			<div class="col-lg-4">
		<input type="text" name="srh" class="form-control" placeholder="Enter Name of Game">
			</div>
      <div class="col-lg-4">
    <input type="text" name="srh2" class="form-control" placeholder="Enter Category of Game">
      </div>
      <div class="col-lg-4">
    <input type="text" name="srh3" class="form-control" placeholder="Enter Number of players">
	</div>


    <div class="col-lg-4">
    <input type="text" name="srh6" class="form-control" placeholder="Enter Minimum Number of age">
	</div>
	{% if user.is_authenticated %}

    <div class="checkbox">
      <label><input type="checkbox" name="srh4"> Owned</label>
    </div>

    {% endif %}
      </div>
			<label class="col-lg-2">
				<button type="submit" class="btn btn-danger">Search</button>
			</label>
		</div>

</form><br><br>
<div>
	{% if messages %}
		<ul class="messages">
			{% for k in messages %}
			<li style="color: red">{{ k }}</li>
		{% endfor %}
		</ul>
	{% endif %}
</div><br>
	<div style="color: blue">
		{% if games %}
			{% for game in games %}
			<table border="0px" width="300px">
			<tr>

				<a href="/games/{{ game.Game_ID }}/">   {{ game.Name }}</a>
			</tr>

			<tr>
				<td>   {{ game.Category }}</td>
			</tr>

			<tr>
				<td>   {{ game.Year_published }}</td>
			</tr>

      <tr>
        <td> Minimum Number of Players: {{ game.Min_players }}</td>
      </tr>

      <tr>
        <td> Maximum Number of Players: {{ game.Max_players }}</td>
      </tr>

      <tr>
        <td> Minimum Number of Age: {{ game.Min_age }}</td>
      </tr>

			</table>
		<hr>
			{% endfor %}
		{% endif %}
	</div>
</div>

{% endblock %}