{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Board at Home - {{game.Name}}</title>

{% endblock %}
    {% block body %}
        {% if game %}
        <div class="container" style="margin-top:8px">
            <h1 style="font-weight: bold">{{ game.Name }}</h1><br>
            <img src="{{ game.Image }}" class="img"><br>
            <a style="font-weight: bold">Game description: </a>{{ game.Description }}<br>
            <a style="font-weight: bold">Game rating: </a>{{ game.Rating }}<br>
            <a style="font-weight: bold">Minimum age: </a>{{ game.Min_age }}<br>
            <a style="font-weight: bold">Minimum number of players: </a>{{ game.Min_players }}<br>
            <a style="font-weight: bold">Average Playing time: </a>{{ game.Playing_time }}<br>
            <a style="font-weight: bold">Game category: </a>{{ game.Category }}<br>
            <a style="font-weight: bold">Board Game Artist: </a>{{ game.Boardgame_artist }}<br>
            <a style="font-weight: bold">Board Game Mechanics: </a>{{ game.Mechanics }}<br>
            <a style="font-weight: bold">Game average score </a>{{ game_avg }}<br>
        </div><br>
        {% endif %}


        <div class="container" style="margin-top:8px">
            {% if user.is_authenticated %}
                <p style="margin-left:10px">
                    <button class = "nav-link" onclick="window.location.href = 'add_wishlist/';">Add to wishlist</button><br>
                    <button class = "nav-link" onclick="window.location.href = 'add_owned/';">Add to owned games</button><br>

                </p>
            {% else %}
              <a style="margin-left:10px">Login to add this game to your wishlist, owned games list, or rate it</a><br>
            {% endif %}
            <style>
                .rating {
                    display: inline-block;
                    position: relative;
                    height: 50px;
                    line-height: 50px;
                    font-size: 50px;
                }

                .rating label {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    cursor: pointer;
                }

                .rating label:last-child {
                    position: static;
                }

                .rating label:nth-child(1) {
                    z-index: 5;
                }

                .rating label:nth-child(2) {
                    z-index: 4;
                }

                .rating label:nth-child(3) {
                    z-index: 3;
                }

                .rating label:nth-child(4) {
                    z-index: 2;
                }

                .rating label:nth-child(5) {
                    z-index: 1;
                }

                .rating label input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }

                .rating label .icon {
                    float: left;
                    color: transparent;
                }

                .rating label:last-child .icon {
                    color: #000;
                }

                .rating:not(:hover) label input:checked ~ .icon,
                .rating:hover label:hover input ~ .icon {
                    color: #09f;
                }

                .rating label input:focus:not(:checked) ~ .icon:last-child {
                    color: #000;
                    text-shadow: 0 0 5px #09f;
                }
            </style>

            <script>
                $(':radio').change(function() {
                    console.log('New star rating: ' + this.value);

                });
            </script>

            {% if user.is_authenticated %}
                <div class="rating" name="rating" method="post" action="/games/{{ game.Game_ID }}/add_rating/">
                    {% csrf_token %}
                    <label>
                        <input type="submit" name="stars" value="1" onclick="window.location.href = 'add_rating/1/';"/>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="submit" name="stars" value="2" onclick="window.location.href = 'add_rating/2/';"/>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="submit" name="stars" value="3" onclick="window.location.href = 'add_rating/3/';"/>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="submit" name="stars" value="4" onclick="window.location.href = 'add_rating/4/';"/>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="submit" name="stars" value="5" onclick="window.location.href = 'add_rating/5/';"/>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                </div>
            {% endif %}
        </div>


    {% endblock %}
