{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Board at Home - All Games</title>

{% endblock %}

{% block body %}
  <div class="container">
      <h1>Games</h1>
            {% if games %}
                <u1 style="margin-bottom:10">
                    {% for game in games %}
                    <li><a href="/games/{{ game.Game_ID }}/"> {{ game.Name }} </a></li>
                    {% endfor %}
                </u1>
            {% else %}
                <h3>No games</h3>
            {% endif %}
    </div>
    {% endblock %}
